.videoBtns {
    left: 50%;
    bottom: 10%;
    transform: translate(-50%, 0%);
}

.visitAlphaLand {
    font-family: 'Montserrat', sans-serif;
}

.videoBtns button {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 7px 19px;
    font-family: 'Montserrat', sans-serif;
    max-width: 80%;
    margin: 0 auto;
}
.videoBtns button:hover{
    background-color: white;
    color: black !important;
    transform: translateY(-12%);
    transition: transform 0.2s ease-in;
}

@media only screen and (max-width : 650px) {

    .alphaVideo {
        object-fit: cover;
        height: 500px;
    }
    .videoBtns {
        width: 100%;
    }
}