.videoTag {
    position: relative;
    padding-bottom: 279%;
}

.videoBtn {
    position: absolute;
    bottom: 5%;
    left: 3%;
    font-family: 'Montserrat', sans-serif;
    color: white;
}

.videoBtn button {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 7px 19px;
}

.videoBtn button:hover {
    background-color: white;
    color: black !important;
    transform: translateY(-12%);
    transition: transform 0.2s ease-in;
}

.girlVideo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.staticImages {
    position: relative;
}

.imgBtn {
    position: absolute;
    bottom: 5%;
    right: 3%;
    font-family: 'Montserrat', sans-serif;
    color: white;
}

.imgBtn button {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 7px 19px;
}
.imgBtn button:hover{
    background-color: white;
    color: black !important;
    transform: translateY(-12%);
    transition: transform 0.2s ease-in;
}
@media only screen and (max-width:767px){
 .videoTag{
    margin-bottom: 5%;
 }   
}